<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title id='Description'>Nabbesh Reporting</title>
    <link rel="shortcut icon" href="https://s3.amazonaws.com/akiajtwy4p5byb7shnva_images/static/images/favicon.ico">

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=visualization"></script>

    <link rel="stylesheet" href="/site_media/jqwid/jqwidgets/styles/jqx.base.css" type="text/css" />
    <link rel="stylesheet" href="/site_media/jqwid/jqwidgets/styles/jqx.bootstrap.css" type="text/css" />
    <script type="text/javascript" src="/site_media/jqwid/scripts/gettheme.js"></script>
    <script type="text/javascript" src="/site_media/jqwid/scripts/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/site_media/jqwid/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="/site_media/jqwid/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="/site_media/jqwid/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="/site_media/jqwid/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="/site_media/jqwid/jqwidgets/jqxcheckbox.js"></script>
    <script type="text/javascript" src="/site_media/jqwid/jqwidgets/jqxtabs.js"></script>
    <script type="text/javascript" src="/site_media/jqwid/jqwidgets/jqxsplitter.js"></script>
    <script type="text/javascript" src="/site_media/jqwid/jqwidgets/jqxpanel.js"></script>
    <script type="text/javascript" src="/site_media/jqwid/jqwidgets/jqxnavigationbar.js"></script>
    <script type="text/javascript" src="/site_media/jqwid/jqwidgets/jqxprogressbar.js"></script>
    <script type="text/javascript" src="/site_media/jqwid/jqwidgets/jqxdatetimeinput.js"></script>
    <script type="text/javascript" src="/site_media/jqwid/jqwidgets/jqxcalendar.js"></script>
    <script type="text/javascript" src="/site_media/jqwid/jqwidgets/jqxtooltip.js"></script>
    <script type="text/javascript" src="/site_media/jqwid/jqwidgets/globalization/globalize.js"></script>
    <script type="text/javascript" src="/site_media/jqwid/jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="/site_media/jqwid/jqwidgets/jqxslider.js"></script>
    <script type="text/javascript" src="/site_media/jqwid/jqwidgets/jqxcombobox.js"></script>
    <script type="text/javascript" src="/site_media/jqwid/jqwidgets/jqxexpander.js"></script>
    <script type="text/javascript" src="/site_media/js/jquery.blockUI.js"></script>

    <script type="text/javascript">

    function PrintElem(elem)
    {
        Popup($(elem).html());
    }

    function Popup(data) 
    {
        var mywindow = window.open('', 'my div', 'height=800,width=1024');
        mywindow.document.write('<html><head><title>my div</title>');
        /*optional stylesheet*/ //mywindow.document.write('<link rel="stylesheet" href="main.css" type="text/css" />');
        mywindow.document.write('</head><body >');
        mywindow.document.write(data);
        mywindow.document.write('</body></html>');

        mywindow.print();
        mywindow.close();

        return true;
    }

</script>
  
    <script type="text/javascript">
        // Load the Visualization API and the piechart package.
        google.load('visualization', '1.0', {
            'packages': ['corechart']
        });
        google.load('visualization', '1', {packages: ['table']});
        google.load('visualization', '1', {packages: ['geochart']});
        google.load('visualization', '1', {packages: ['annotatedtimeline']});
    </script>
 
 
    
    <script type="text/javascript">
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            var theme = 'bootstrap';
            //Creating jqxTabs
            $('#jqxTabs').jqxTabs({
                width: '100%',
                height: 900,
                position: 'top',
                theme: theme
            });
            $('#jqxTabs').jqxTabs({
                animationType: 'fade'
            });
            $('#jqxTabs').jqxTabs({
                selectionTracker: true
            });


            var source = [
                "Demography",
                "Gender Distribution",
                "Age Distribution"
            ];

            $("#reportlist").jqxListBox({
                
                source: source,
                width: 246,
                height: 200,
                selectedIndex: -1,
                theme: theme
            });
            $('#reportlist').on('select', function (event) {
                var args = event.args;
                var item = $('#reportlist').jqxListBox('getItem', args.index);
                if (item != null) {
                    
                    sendrequest(item.label);
                    $("#reportlist").jqxListBox({selectedIndex: -1 }); 
                }
            });

            $('#mainSplitter').jqxSplitter({
                width: '100%',
                height: 831,
                theme: theme,
                resizable: false,
                panels: [{
                    size: 250
                }, {
                    size: 600
                }]
            });


	    

            $("#jqxNavigationBar").jqxNavigationBar({
                width: 248,
                height: '100%',
                expandMode: 'toggle',
                expandedIndexes: [0],
                theme: theme
            });
		
            $("#dashboardButton").jqxButton({ width: '100%'});
	    $("#dashboardButton").on('click', function () {
	    	sendrequest('dashboard');
	    });
	    sendrequest('dashboard');
        });
    </script>



    <script type="text/javascript">
        $(document).ajaxStart(function () {
            //$("#wait").css("display","block"); 
            //$("#loadmapButton").jqxButton({ disabled: true }); 
 
            $.blockUI({ css: { 
            border: 'none', 
            padding: '15px', 
            backgroundColor: '#000', 
            '-webkit-border-radius': '10px', 
            '-moz-border-radius': '10px', 
            opacity: 0.5, 
            color: '#fff' 
        } }); 
            
        });
        $(document).ajaxComplete(function () {
            //$("#wait").css("display","none"); 
            //$("#loadmapButton").jqxButton({ disabled: false }); 
          //$('#mainSplitter').jqxSplitter({ disabled: false });
          $.unblockUI();
         
        });

        function sendrequest(reportname) {        
            container = document.getElementById('reportcontent');
            var URLString = new String("");
            switch(reportname)
		{
			case "Demography": 
  				URLString ="freelancerdemography_report";
 				break;
			case "Gender Distribution":
  				URLString = "freelancersgender_report";
  				break;
  			case "Age Distribution":
  				URLString = "freelancersages_report";
  				break;
  			case "Dashboard":
  				URLString = "dashboard";
  				break;
			default:
  			      URLString = "dashboard";
		}
            $.ajax({
                url: URLString,
                type: 'get',
                success: function (r) {
                    $('#reportcontent').html(r);

                }
            });

        }
    </script>


</head>
