{% extends 'reports/base.html' %}

{% block  customheadscripts %}




<script type="text/javascript">

 var minID= 0 ;
 var maxID=10000000000;

function getVisitsData(){
      var today = new Date(Date.now());
      Date.prototype.yyyymmdd = function() {
      var yyyy = this.getFullYear().toString();
      var mm = (this.getMonth()+1).toString(); // getMonth() is zero-based
      var dd  = this.getDate().toString();
      return yyyy +'-'+ (mm[1]?mm:"0"+mm[0]) +'-'+ (dd[1]?dd:"0"+dd[0]); // padding
      };
      
      todayshort=today.yyyymmdd();
      
      limit = "Day";
      var params = {"limit": limit, "fromdate": todayshort, "todate": todayshort};
      var jsonData = $.ajax({
          url: "../../analytics_getdata",
          dataType:"json",
          type: "POST",
          data: JSON.stringify(params),
          async: false
          }).responseText;
       return jsonData;    
     }


function getTotal(link){
      

      var jsonData = $.ajax({
          url: "../../"+ link,
          dataType:"json",
          type: "GET",
          async: false
          }).responseText;
       return jsonData;  
     }

function circularimage(url)
{
   return "<div style='width: 50px;height: 50px; border-radius: 150px;-webkit-border-radius: 150px;-moz-border-radius: 150px;background: url("+url+") no-repeat;background-size: cover;background-position: center center; border-radius: 99em; border: 2px solid #eee;  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);'></div>"
}

function circularimagecontact(url)
{
   return "<div style='width: 100px;height: 100px; border-radius: 10px;-webkit-border-radius: 10px;-moz-border-radius: 10px;background: url("+url+") no-repeat;background-size: cover;background-position: center center;  border: 2px solid #eee;  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);'></div>"
}

function formatname(id, name, direction, rating)
{
   ratingtext='';
   if(rating!='0.00')
   {
     ratingtext= '</br><span style="color: rgb(255,0,0); font-size:10px">Rating: '+rating + '</span>';
   }
   html='<td style="text-align:'+direction+'" width="120px"><a target="_blank" style="TEXT-DECORATION: NONE;color: rgb(100,100,100); font-size:12px" href="http://www.nabbesh.com/profile/'+id+'">'+name+'</a></br><a id="profileadmin'+id+'" style="cursor: pointer; TEXT-DECORATION: NONE;color: rgb(50,100,100); font-size:12px" onmouseover="" onclick="return showcontactdetails('+id+');"><abbr title="See full profile on backend">contact info</abbr></a>'+ratingtext+'</td>';   
   return html;
}

function formatworkstream(id, direction, time, invoice, proposal,job,jobid, email, phone,skype, odesk, elance, haspayment,public_id)
{
   //console.log(elance);
   typeword='';
   frmsg='';
   empmsg='';
   

   if(invoice != 'None')
   {
      typeword='Invoice';
   }else 
   if(proposal != 'None')
   {
      typeword='Proposal';
     
   }else typeword='>>>>>>>>';
   
   //console.log(invoice);
   emailtext='';
   if(email=='True')
     emailtext+=' Email ';
   if(phone=='True')
     emailtext+=' Phone ';     
   if(skype=='True')
     emailtext+=' Skype '; 
   if(odesk=='True')
     emailtext+=' Odesk '; 
   if(elance=='True')
     emailtext+=' Elance ';              

   if(direction=='True')
   { 
      dir='>>>';
      color = 'rgb(60,60,60)';
      frmsg = '<a target="_blank" style="TEXT-DECORATION: NONE;color: '+color+'; font-size:12px" href="http://www.nabbesh.com/contracts/workstream/'+id+'">'+dir+typeword+dir+'</a></br><span style="font-size:10px">'+time+'</span>';
   }else
   {
      dir='<<<';
      color = 'rgb(60,60,60)';
      empmsg = '<a target="_blank" style="TEXT-DECORATION: NONE;color: '+color+'; font-size:12px" href="http://www.nabbesh.com/contracts/workstream/'+id+'">'+dir+'<<<<<<<<'+dir+'</a></br><span style="font-size:10px">'+time+'</span>'
   }
   haspaymenttext='';
   if(haspayment!='0'){
      haspaymenttext='<a target="_blank" href="http://www.nabbesh.com/contracts/workstream/'+id+'"><img src="https://s3-us-west-2.amazonaws.com/nabbeshscripts/reportingtool/money.png" alt="Has Payment" height="20" width="20"></a>';
   }
   
   html='<td width="80px">'+frmsg+'</td><td style="text-align:center;" > '+haspaymenttext+' <a  target="_blank" href="http://www.nabbesh.com/jobs/location/title/'+jobid+'" style="TEXT-DECORATION: NONE;font-size:14px;color: rgb(60,60,60)">'+job+'</a></br><a  style="TEXT-DECORATION: NONE;font-size:10px;color: rgb(150,150,150)" target="_blank" href="http://www.nabbesh.com/admin/contracts/application/?q='+public_id+'">Workstream Admin</a></br><span style="color: rgb(255,0,0); font-size:10px">'+emailtext+'</span><td width="80px">'+empmsg+'</td>'
   return html;
}
function formatmessages(data)
{   
   //console.log(data);
   if(data.length!=0)
   {
      html='<table style="width:100%">'
      for(i=0; i<data.length;i++)
      {         
         html+= '<tr><td width="50px">'+circularimage(data[i][2])+'</td>'+ formatname(data[i][0], data[i][1], 'left', data[i][18])+'</td>'+formatworkstream(data[i][5], data[i][3], data[i][4],data[i][9], data[i][10], data[i][11], data[i][12], data[i][13], data[i][14], data[i][15], data[i][16], data[i][17], data[i][22], data[i][20] ) +formatname(data[i][6], data[i][7], 'right', data[i][19])+'<td width="50px">'+circularimage(data[i][8])+'</td></tr>';        
      }
       html+='</table>'
      return html;
   }
}

function formatonlineuser(data)
{   
   if(data.length!=0)
   {
      html='<table style="width:100%">'
      for(i=0; i<data.length;i++)
      {         
         html+= '<tr><td width="50px">'+circularimage(data[i][3])+'</td>'+formatname(data[i][0], data[i][1], 'left', '0.00')+'<td><a target="_blank" style="TEXT-DECORATION: NONE;color: rgb(0, 182, 222); font-size:12px" href="http://www.nabbesh.com'+data[i][4]+'"> URL </a><span  style="TEXT-DECORATION: NONE;color: rgb(150,150,150); font-size:10px"> from: </span><a target="_blank" style="TEXT-DECORATION: NONE;color: rgb(50,50,50); font-size:10px" href="http://www.geoiptool.com/en/?IP='+data[i][5]+'">' +data[i][5]+  '</a></td></tr>';        
      }
       html+='</table>'
      return html;
   }
}

function formatpendinginvoice(data)
{
   if(data.length!=0)
   {
      html='<table style="width:100%">'
      for(i=0; i<data.length;i++)
      {         
         html+= '<tr><td width="50px">'+circularimage(data[i][2])+'</td><td><span style="color: rgb(255,0,0); font-size:18px">'+data[i][12]+'</span><span style="TEXT-DECORATION: NONE;font-size:12px;color: rgb(60,60,60)"> Pending Invoice(s) here: </span></br><a  target="_blank" href="http://www.nabbesh.com/contracts/workstream/'+data[i][6]+'" style="TEXT-DECORATION: NONE;font-size:10px;color: rgb(60,60,60)">Workstream: '+data[i][6]+'</a></td><td>'+circularimage(data[i][5])+'</td></tr>';        
      }
       html+='</table>'
      return html;
   }
}

showcontactdetails= function (userid) {
   array= $.parseJSON(getUserData(userid));
   html='<table><tr><td rowspan=5>'+circularimagecontact(array[0][5])+'</td><td><a target="_blank" style="TEXT-DECORATION: NONE;color: rgb(100,100,100); font-size:16px" href="http://www.nabbesh.com/profile/'+userid+'">'+array[0][0]+'</a></td></tr><tr><td>'+array[0][1]+'</td></tr></tr><tr><td>'+array[0][2]+'</td></tr><tr><td>'+array[0][3]+ ',' + array[0][4]+'</td></tr><tr><td><a target="_blank" style="TEXT-DECORATION: NONE;color: rgb(100,100,100); font-size:12px" href="http://www.nabbesh.com/admin/legacy/users/'+userid+'">Full Info</a></td></tr></table>';
   
   $('#windowContent').html(html);   

   $('#window').jqxWindow('open');



}


function getUserData(userid){
      var params = {"userid": userid};
      var jsonData = $.ajax({
          url: "../../userprofileinfo_getdata",
          dataType:"json",
          type: "POST",
          data: JSON.stringify(params),
          async: false
          }).responseText;
       return jsonData;    
}

function doTimeout() {
     
     
      

     Date.prototype.yyyymmdd = function() {
       var yyyy = this.getFullYear().toString();
       var mm = (this.getMonth()+1).toString(); 
       var dd  = this.getDate().toString();
       return yyyy +'-'+ (mm[1]?mm:"0"+mm[0]) +'-'+ (dd[1]?dd:"0"+dd[0]);
     };

    d = new Date();
    fromdate= d.yyyymmdd();

     
    $.when( $.ajax({
          url: "../../totalusers_getdata",
          dataType:"json",
          type: "POST",
          data: JSON.stringify( {"fromdate": fromdate}),
          async: true
          }) ).then(function( data, textStatus, jqXHR ) {                 
          $("#allusers").block({ message : '', css: { border: '0px solid #a00' } });    
          setTimeout(function (){$("#allusers").html('<span style="font-size:64px;">' + data[0][0].toString() + '</span> Users  <span style="font-size:24px;">' + data[0][1].toString() + '</span> Active /<span style="font-size:24px; color:rgb(255,0,0)">' + data[0][2].toString() + '</span> Today');       }, 500);     });


    $.when( $.ajax({
          url: "../../totaljobs_getdata",
          dataType:"json",
          type: "POST",
          data: JSON.stringify( {"fromdate": fromdate}),
          async: true
          }) ).then(function( data, textStatus, jqXHR ) {                 
          $("#alljobs").block({ message : '', css: { border: '0px solid #a00' } }); 
          setTimeout(function (){$("#alljobs").html('<span style="font-size:48px;">' + data[0][0].toString() + '</span> Jobs  </br><span style="font-size:24px;">' + data[0][1].toString() + '</span> Open /<span style="font-size:24px; color:rgb(255,0,0)">' + data[0][2].toString() + '</span> Today');       }, 500);     });

        
    $.when( $.ajax({
          url: "../../totalskills_getdata",
          dataType:"json",
          type: "POST",
          data: JSON.stringify( {"fromdate": fromdate}),
          async: true
          }) ).then(function( data, textStatus, jqXHR ) {                 
          $("#allskills").block({ message : '', css: { border: '0px solid #a00' } }); 
          setTimeout(function (){$("#allskills").html('<span style="font-size:48px;">' + data[0][1].toString() + '</span> Published  </br><span style="font-size:24px;">' + data[0][0].toString() + '</span> Added');      }, 500);     });


    $.when( $.ajax({
          url: "../../totalmessages_getdata",
          dataType:"json",
          type: "POST",
          data: JSON.stringify( {"fromdate": fromdate}),
          async: true
          }) ).then(function( data, textStatus, jqXHR ) {                 
          $("#allmessages").block({ message : '', css: { border: '0px solid #a00' } }); 
          setTimeout(function (){$("#allmessages").html('<span style="font-size:42px;">' + data[0][0].toString() + '</span> Sent /<span style="font-size:24px; color:rgb(255,0,0)">' + data[0][1].toString() + '</span> Today');     }, 500);     });                  
                 
                 

    $.when( $.ajax({
          url: "../../totalapplications_getdata",
          dataType:"json",
          type: "POST",
          data: JSON.stringify( {"fromdate": fromdate}),
          async: true
          }) ).then(function( data, textStatus, jqXHR ) {                 
          $("#allapplications").block({ message : '', css: { border: '0px solid #a00' } }); 
          setTimeout(function (){$("#allapplications").html('<span style="font-size:48px;">' + data[0][0].toString() + '</span> Applications on </br><span style="font-size:24px;">' + data[0][1].toString() + '</span> Jobs /<span style="font-size:24px; color:rgb(255,0,0)">' + data[0][2].toString() + '</span> Today');     }, 500);     });  
     

    $.when( $.ajax({
          url: "../../totalinvoices_getdata",
          dataType:"json",
          type: "POST",
          data: JSON.stringify( {"fromdate": fromdate}),
          async: true
          }) ).then(function( data, textStatus, jqXHR ) {
     
          $("#allinvoices").block({ message : '', css: { border: '0px solid #a00' } }); 
          setTimeout(function (){$("#allinvoices").html('<span style="font-size:32px;">' + data[0][0].toString() + '</span>/ <span style="font-size:24px;">' + data[0][1].toString() + '</span> Paid </br>Today <span style="font-size:24px; color:rgb(255,0,0)">' + data[0][2].toString() + '</span> Paid <span style="font-size:24px; color:rgb(255,0,0)">' + data[0][3].toString() + '</span>');    }, 500);     });                      
               
        
    
                       
    $.when( $.ajax({
          url: "../../totalproposals_getdata",
          dataType:"json",
          type: "POST",
          data: JSON.stringify( {"fromdate": fromdate}),
          async: true
          }) ).then(function( data, textStatus, jqXHR ) {

        $("#allproposals").block({ message : '', css: { border: '0px solid #a00' } }); 
        setTimeout(function (){$("#allproposals").html('<span style="font-size:32px;">' + data[0][0].toString() + '</span>/ <span style="font-size:24px;">' + data[0][1].toString() + '</span> Paid </br>Today <span style="font-size:24px; color:rgb(255,0,0)">' + data[0][2].toString() + '</span> Paid <span style="font-size:24px; color:rgb(255,0,0)">' + data[0][3].toString() + '</span>');  }, 500); });
       
     

 
          
          
    


try{     
     analyticsresult= $.parseJSON(getVisitsData());
     $("#analyticscontent").block({ message : '', css: { border: '0px solid #a00' } });
     $("#analyticscontent").html('<span style="font-size:24px;font-weight:bold;">' + analyticsresult[1][2].toString() + '</span> Pageviews  <span style="font-size:24px;font-weight:bold;">' + analyticsresult[1][1].toString() + '</span> Visits');
     }
     catch(err)
     { 
        $("#analyticscontent").html("Couldn't loading analytics data");
     }

             
      setTimeout(doTimeout, 320000); 
 }
            
function doTimeoutQuick() {   

          $.when( $.ajax({
          url: "../../trackingvisitors_getdata",
          type: "POST",
          data: JSON.stringify( {"fromdate": fromdate}),
          async: false
          })).then(function( data, textStatus, jqXHR ) {
          $("#onlineusers").block({ message : 'Loading..', css: { border: '0px solid #a00' } }); 
          setTimeout(function (){              
              $("#onlineusers").html(formatonlineuser(data)); 

              $("#onlineusers").unblock(); 
          }, 500); });  
      setTimeout(doTimeoutQuick, 30000);
}         

function getMessaegsData(min, max, dir)
{
    var params = {"minid": min, "maxid": max, "dir": dir};
      var jsonData = $.ajax({
          url: "../../trackingmessages_getdata",
          dataType:"json",
          type: "POST",
          data: JSON.stringify(params),
          async: false
          }).responseText;
       return jsonData;   
}
     
$(document).ready(function () {

     var theme=  'bootstrap';         
     $('#loadingup').hide();
     $('#loadingdown').hide();
     
     
     $('#docking').jqxDocking({ theme:theme , orientation: 'horizontal', mode: 'docked',floatingWindowOpacity: 0.5, width:'100%' });
     $('#docking').jqxDocking('hideAllCloseButtons');
     $('#docking').jqxDocking('pinWindow', 'window1');
     $('#docking').jqxDocking('pinWindow', 'window2');
     $('#docking').jqxDocking('pinWindow', 'window3');   
     $('#docking').jqxDocking('pinWindow', 'window4');
     
     $("#allusers").block({ message : '', css: { border: '0px solid #a00' } }); 
     $("#alljobs").block({ message : '', css: { border: '0px solid #a00' } });
     $("#allskills").block({ message : '', css: { border: '0px solid #a00' } }); 
     $("#allmessages").block({ message : '', css: { border: '0px solid #a00' } }); 
     $("#allapplications").block({ message : '', css: { border: '0px solid #a00' } });
     $("#allinvoices").block({ message : '', css: { border: '0px solid #a00' } }); 
     $("#allproposals").block({ message : '', css: { border: '0px solid #a00' } });
     $("#analyticscontent").block({ message : '', css: { border: '0px solid #a00' } });
     
     
    
     
     
     $("#msgcontainer").scroll(function() { 
           //console.log($("#msgcontainer").prop('scrollHeight'), $("#msgcontainer").scrollTop(), $("#msgcontainer").height() );
           if ($("#msgcontainer").prop('scrollHeight') - $("#msgcontainer").scrollTop() <=  $("#msgcontainer").height()+100 )
           {
               $("#loadingdown").show(); 
               var messagesdata = getMessaegsData(minID,maxID,"Down");
               dataArray = $.parseJSON(messagesdata);
               minID=dataArray[1][0];
               maxID=dataArray[2][0];
                   
              $("#messages").html($("#messages").html() + formatmessages(dataArray[0]));      
              setTimeout(function (){$("#loadingdown").hide(), 2000}); 
             

              
           }else
           if($("#msgcontainer").scrollTop()==0)
           {
               $("#loadingup").show(); 
               var messagesdataup = getMessaegsData(minID,maxID,"Up");
     
               dataArray = $.parseJSON(messagesdataup);
               
               minID=dataArray[1][0];
               maxID=dataArray[2][0];
    
               if(dataArray[0].length>0){
                  $("#messages").html(formatmessages(dataArray[0]) + $("#messages").html());       
               }   
              setTimeout(function (){$("#loadingup").hide(), 2000});  
           
               
           }

      });
     
     
     setTimeout(doTimeout, 1000);
     
     setTimeout(doTimeoutQuick, 1000);
     
     $('#window').jqxWindow({ modalOpacity: 0.5, theme: theme, zIndex: 99999,
                    showCollapseButton: true, maxHeight: 170, maxWidth: 300, minHeight: 170, minWidth: 300, height: 170, width: 300
                });
     $('#window').jqxWindow('close');
     
     
     var messagesdata = getMessaegsData(minID,maxID, "Down");
     
     dataArray = $.parseJSON(messagesdata);
     
     maxID=dataArray[2][0];
     minID= maxID+20;
     console.log(minID, maxID);
     $("#messages").html(formatmessages(dataArray[0]));
 

});     
     
</script>

{% endblock %}

{% block reportblock %}
    <style type="text/css">
        .InnerDivs
        {
            width: 250px;
        }
        .InnerDivsSmall
        {
            width: 300px;
        }        
        
        
  
    </style>
  
    
   <div id="docking">
   
   
        <div class="InnerDivs">
            <div id="window2" style="height:150px">
                <div><span style="TEXT-DECORATION: NONE;color: rgb(150 , 150 , 150); font-size:14px">All Signups </span></div>
                <div id="allusers" style="color: rgb(120, 120, 120); font-family: 'Open Sans', Helvetica, Arial, sans-serif;"></div>
            </div>        
            <div id="window1" style="height:70px">
                <div><span style="TEXT-DECORATION: NONE;color: rgb(150 , 150 , 150); font-size:14px">Google Analytics Traffic Today</span></div>
                <div id="analyticscontent" style="color: rgb(120, 120, 120); font-family: 'Open Sans', Helvetica, Arial, sans-serif;"></div>
            </div>
            <div id="window3" style="height:125px">
                <div><span style="TEXT-DECORATION: NONE;color: rgb(150 , 150 , 150); font-size:14px">All Approved Jobs</span></div>
                <div id="alljobs" style="color: rgb(120, 120, 120); font-family: 'Open Sans', Helvetica, Arial, sans-serif;"></div>
            </div>
            <div id="window4" style="height:125px">
                <div><span style="TEXT-DECORATION: NONE;color: rgb(150 , 150 , 150); font-size:14px">All Skills</span></div>
                <div id="allskills" style="color: rgb(120, 120, 120); font-family: 'Open Sans', Helvetica, Arial, sans-serif;"></div>
            </div>
            <div id="window5" style="height:100px">
                <div><span style="TEXT-DECORATION: NONE;color: rgb(150 , 150 , 150); font-size:14px">All Workstream Messages</span></div>
                <div id="allmessages" style="color: rgb(120, 120, 120); font-family: 'Open Sans', Helvetica, Arial, sans-serif;"></div>
            </div>
        </div>
        <div class="InnerDivsSmall">

            <div id="window6" style="height:140px">
                <div><span style="TEXT-DECORATION: NONE;color: rgb(150 , 150 , 150); font-size:14px">All Applications</span></div>
                <div id="allapplications" style="color: rgb(120, 120, 120); font-family: 'Open Sans', Helvetica, Arial, sans-serif;"></div>
            </div>
            <div id="window7" style="height:110px">
                <div><span style="TEXT-DECORATION: NONE;color: rgb(150 , 150 , 150); font-size:14px">All Proposals</span></div>
                <div id="allproposals" style="color: rgb(120, 120, 120); font-family: 'Open Sans', Helvetica, Arial, sans-serif;"></div>
            </div>
            <div id="window8" style="height:110px">
                <div><span style="TEXT-DECORATION: NONE;color: rgb(150 , 150 , 150); font-size:14px">All Invoices</span></div>
                <div id="allinvoices" style="color: rgb(120, 120, 120); font-family: 'Open Sans', Helvetica, Arial, sans-serif;"></div>
            </div>   
            <div id="window10" style="height:300px">
                <div><span style="TEXT-DECORATION: NONE;color: rgb(150 , 150 , 150); font-size:14px">Online Users</span></div>
                <div id="onlineusers" style="color: rgb(120, 120, 120); font-family: 'Open Sans', Helvetica, Arial, sans-serif; background-image:url('/site_media/img/bg.png');   background-repeat:repeat-y repeat-x;"></div> 
                
            </div>                                 

        </div>
        <div class="InnerDivsSmall">
            <div id="window9" style="height:800px">
                <div><span style="TEXT-DECORATION: NONE;color: rgb(150 , 150 , 150); font-size:14px">Live Messages</span><a style="TEXT-DECORATION: NONE;color: rgb(0, 182, 222); font-size:10px" href="leakagedetection"> See More</a></div>
                  <div id="msgcontainer" style="padding: 0px 0px 0px 0px; color: rgb(120, 120, 120); font-family: 'Open Sans', Helvetica, Arial, sans-serif; background-image:url('/site_media/img/bg.png');   background-repeat:repeat-y repeat-x;">
                    <div id="loadingup" style="TEXT-DECORATION: NONE;color: rgb(150 , 150 , 150); font-size:18px; text-align:center"> Updating </div>
                    <div id="messages">
                  
                    </div> 
                    <div id="loadingdown" style="TEXT-DECORATION: NONE;color: rgb(150 , 150 , 150); font-size:18px; text-align:center"> Loading More </div>
                  </div>   
                
            </div>
            

            </div> 	
        </div> 
   
        </div>
        
    </div>
    
      
    
          <div id="window">
                <div id="windowHeader">
                    <span>
                        Contact Details
                    </span>
                </div>
                <div style="overflow: hidden;" id="windowContent">

                </div>


{% endblock %}



