{% extends 'reports/base.html' %}

{% block  customheadscripts %}




<script type="text/javascript">
function getVisitsData(){
      var today = new Date(Date.now());
      Date.prototype.yyyymmdd = function() {
      var yyyy = this.getFullYear().toString();
      var mm = (this.getMonth()+1).toString(); // getMonth() is zero-based
      var dd  = this.getDate().toString();
      return yyyy +'-'+ (mm[1]?mm:"0"+mm[0]) +'-'+ (dd[1]?dd:"0"+dd[0]); // padding
      };
      
      todayshort=today.yyyymmdd();
      
      limit = "Day";
      var params = {"limit": limit, "fromdate": todayshort, "todate": todayshort};
      var jsonData = $.ajax({
          url: "../../analytics_getdata",
          dataType:"json",
          type: "POST",
          data: JSON.stringify(params),
          async: false
          }).responseText;
       return jsonData;    
     }


function getTotal(link){
      

      var jsonData = $.ajax({
          url: "../../"+ link,
          dataType:"json",
          type: "GET",
          async: false
          }).responseText;
       return jsonData; 
       alert(jsonData);   
     }



     
     
$(document).ready(function () {

     var theme=  'bootstrap';         
     $('#docking').jqxDocking({ theme:theme , orientation: 'horizontal', mode: 'docked',floatingWindowOpacity: 0.5, width:'100%' });

     $('#docking').jqxDocking('hideAllCloseButtons');
     $('#docking').jqxDocking('pinWindow', 'window1');
     $('#docking').jqxDocking('pinWindow', 'window2');
     $('#docking').jqxDocking('pinWindow', 'window3');   
     $('#docking').jqxDocking('pinWindow', 'window4');
  
      

        
     
function doTimeout() {
     analyticsresult= $.parseJSON(getVisitsData());
     $("#analyticscontent").html('<span style="font-size:24px;font-weight:bold;">' + analyticsresult[1][2].toString() + '</span> Pageviews  <span style="font-size:24px;font-weight:bold;">' + analyticsresult[1][1].toString() + '</span> Visits');
      

     

     totalusersresult= $.parseJSON(getTotal('totalusers_getdata'));
     $("#allusers").html('<span style="font-size:64px;">' + totalusersresult[0][0].toString() + '</span> Users  <span style="font-size:24px;">' + totalusersresult[0][1].toString() + '</span> Active'); 



     totaljobsresult= $.parseJSON(getTotal('totaljobs_getdata'));
     $("#alljobs").html('<span style="font-size:48px;">' + totaljobsresult[0][0].toString() + '</span> Jobs  </br><span style="font-size:24px;">' + totaljobsresult[0][1].toString() + '</span> Open'); 

        

     totalskillsresult= $.parseJSON(getTotal('totalskills_getdata'));
     $("#allskills").html('<span style="font-size:48px;">' + totalskillsresult[0][1].toString() + '</span> Published  </br><span style="font-size:24px;">' + totalskillsresult[0][0].toString() + '</span> Added'); 

     totalmessagesresult= $.parseJSON(getTotal('totalmessages_getdata'));
     $("#allmessages").html('<span style="font-size:48px;">' + totalmessagesresult[0].toString() + '</span> Exchanged');                  
                 
                 
                 
     totalapplicationsresult= $.parseJSON(getTotal('totalapplications_getdata'));
     $("#allapplications").html('<span style="font-size:48px;">' + totalapplicationsresult[0][0].toString() + '</span>apps on </br><span style="font-size:24px;">' + totalapplicationsresult[0][1].toString() + '</span> Jobs');    
     
     
     totalproposalsresult= $.parseJSON(getTotal('totalproposals_getdata'));
     $("#allproposals").html('<span style="font-size:48px;">' + totalproposalsresult[0][0].toString() + '</span>/ <span style="font-size:24px;">' + totalproposalsresult[0][1].toString() + '</span> Accepted');  
     
     totalinvoicesresult= $.parseJSON(getTotal('totalinvoices_getdata'));
     $("#allinvoices").html('<span style="font-size:48px;">' + totalinvoicesresult[0][0].toString() + '</span>/ <span style="font-size:24px;">' + totalinvoicesresult[0][1].toString() + '</span> paid');                          
                 
                 setTimeout(doTimeout, 60000); 
            }

            setTimeout(doTimeout, 1000);

});     
     
</script>

{% endblock %}

{% block reportblock %}
    <style type="text/css">
        .InnerDivs
        {
            width: 250px;
        }
        .InnerDivsSmall
        {
            width: 300px;
        }        
    </style>
   <div id="docking">
        <div class="InnerDivs">
            <div id="window1" style="height:70px">
                <div>Google Analytics Traffic Today</div>
                <div id="analyticscontent" style="color: rgb(120, 120, 120); font-family: 'Open Sans', Helvetica, Arial, sans-serif;">Loading..</div>
            </div>
            <div id="window2" style="height:150px">
                <div>All Accounts</div>
                <div id="allusers" style="color: rgb(120, 120, 120); font-family: 'Open Sans', Helvetica, Arial, sans-serif;">Loading..</div>
            </div>
            <div id="window3" style="height:125px">
                <div>All Jobs</div>
                <div id="alljobs" style="color: rgb(120, 120, 120); font-family: 'Open Sans', Helvetica, Arial, sans-serif;">Loading..</div>
            </div>
            <div id="window4" style="height:125px">
                <div>All Skills</div>
                <div id="allskills" style="color: rgb(120, 120, 120); font-family: 'Open Sans', Helvetica, Arial, sans-serif;">Loading..</div>
            </div>
        </div>
        <div class="InnerDivsSmall">
            <div id="window5" style="height:100px">
                <div>All Workstream Messages</div>
                <div id="allmessages" style="color: rgb(120, 120, 120); font-family: 'Open Sans', Helvetica, Arial, sans-serif;">Loading..</div>
            </div>
            <div id="window6" style="height:140px">
                <div>All Applications</div>
                <div id="allapplications" style="color: rgb(120, 120, 120); font-family: 'Open Sans', Helvetica, Arial, sans-serif;">Loading..</div>
            </div>
            <div id="window7" style="height:100px">
                <div>All Proposals</div>
                <div id="allproposals" style="color: rgb(120, 120, 120); font-family: 'Open Sans', Helvetica, Arial, sans-serif;">Loading..</div>
            </div>
            <div id="window8" style="height:100px">
                <div>All Invoices</div>
                <div id="allinvoices" style="color: rgb(120, 120, 120); font-family: 'Open Sans', Helvetica, Arial, sans-serif;">Loading..</div>
            </div>                                    

        </div>
        <div class="InnerDivsSmall">

        </div>
    </div>


{% endblock %}



